.card {
    max-width: 500px;
    width: 500px;
    margin: 0px 5px 20px 5px;
}
.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.full-width {
    width: 100%;
}
.input {
    margin: 15px 5px 15px 5px;
}