<div class="background">
  <div class="flex-column">
    <mat-card class="card">
      <h1 class="flex-column">Bookmarker</h1>  
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Title</mat-label>
        <input class="input" [(ngModel)]="title" matInput>
      </mat-form-field>
      <div class="full-width">
        <mat-checkbox [(ngModel)]="protected">Protected</mat-checkbox>
      </div>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>URL</mat-label>
        <input class="input" [(ngModel)]="url" matInput>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea class="input" [(ngModel)]="description" matInput></textarea>
      </mat-form-field>
      <div class="flex-column">
        <button mat-button color="primary" (click)="onCreate()">Create</button>
      </div>
    </mat-card>
    <div *ngIf="(bookmarks$ | async) as bookmarks">
      <div *ngFor="let bookmark of (bookmarks | slice: lowValue : highValue)">
        <app-bookmark [bookmark]="bookmark"></app-bookmark>
      </div>
    </div>
    <div *ngIf="isLoading$ | async">
      <mat-card class="card">
        <div class="flex-column">
          <mat-spinner></mat-spinner>
        </div>
      </mat-card>
    </div>
  </div>
  <div *ngIf="(bookmarks$ | async) as bookmarks">
    <mat-paginator class="flex-column" [length]="bookmarks.length"
      [pageSize]=5
      [pageSizeOptions]="[5,10,20,30]"
      (page)="getPaginatorData($event)">
    </mat-paginator>
  </div>
</div>